/* src/components/Customer/CartPage.css */

.mt-5 {
    margin-top: 3rem !important;
  }
  
  .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    border-radius: 8px;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-body h5 {
    font-size: 1.25rem;
  }
  
  .card-body p {
    font-size: 1rem;
    color: #555;
  }
  
  /* .card-body .form-control {
    max-width: 80px;
  } */
  
  .card-body .btn {
    padding: 0.5rem 1rem;
  }
  
  .card .list-group-item {
    border: none;
    padding: 0.75rem 1.25rem;
  }
  
  .card .list-group-item h5,
  .card .list-group-item h4 {
    margin: 0;
  }
  
  .d-flex.justify-content-between {
    justify-content: space-between !important;
  }
  
  .d-flex .btn {
    width: 48%;
  }
  
  .text-right {
    text-align: right;
  }
  