.restaurant-section {
  background-color: #f0f0f0; /* Change background color for this section */
  padding: 20px 0;
  margin-bottom: 20px;
}

.filter-button.active {
  background-color: #28a745; /* Green background for active veg filter */
  color: white;
}

.category-carousel .carousel-control-prev,
.category-carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px; /* Increased size */
  height: 35px; /* Increased size */
  border-radius: 50%;
}

.category-carousel .carousel-control-prev-icon,
.category-carousel .carousel-control-next-icon {
  filter: invert(100%);
}

.category-item {
  flex: 1;
  max-width: 150px; /* Increased max-width */
  margin: 0 auto;
}

.category-image {
  width: 100px; /* Increased width */
  height: 100px; /* Increased height */
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1); /* Slightly increased shadow */
}

.category-item p {
  font-size: 16px; /* Slightly increased font size */
  color: #555;
  margin: 0;
}

/* Top Brands Section */
.restaurant-card {
  border: none;
  background: none;
}

.restaurant-image {
  width: 100px; /* Increased width */
  height: 100px; /* Increased height */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1); /* Slightly increased shadow */
}

.restaurant-card p {
  font-size: 16px; /* Slightly increased font size */
  font-weight: 500;
  color: #333;
  margin: 0;
}
