/* frontend/src/App.css */
.bg-light {
  background-color: #f8f9fa !important;
}

.text-center {
  text-align: center !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.container {
  margin-top: 20px;
}
